@charset "UTF-8";

@for $i from 0 through 5 {

  // margin-top
  .u-mt-#{(5 * $i)} {
    margin-top: #{(5 * $i)}px !important;
  }

  // margin-bottom
  .u-mb-#{(5 * $i)} {
    margin-bottom: #{(5 * $i)}px !important;
  }

  // margin-left
  .u-ml-#{(5 * $i)} {
    margin-left: #{(5 * $i)}px !important;
  }

  // margin-right
  .u-mr-#{(5 * $i)} {
    margin-right: #{(5 * $i)}px !important;
  }

  // padding-left
  .u-pl-#{(5 * $i)} {
    padding-left: #{(5 * $i)}px !important;
  }

  // padding-right
  .u-pr-#{(5 * $i)} {
    padding-right: #{(5 * $i)}px !important;
  }
}

.item {
  margin: 10px;
}

.original-size {
  width: 50%;
}

.bs-image {
  display: none;
}

.beat-js-slider-rendered, .beat-js-slider-publish {
  height: 130px;
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .main-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 5px;

    .area-middle-banner {
      overflow: hidden;
      .banner {
        transition: all .5s ease;
        display: none;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
      .selected {
        display: block;
      }

      .scroll-action-left-in {
        transform: translate(300px, 0);
      }
      .scroll-action-left-out {
        transform: translate(-300px, 0);
      }
      .scroll-action-right-in {
        transform: translate(-300px, 0);
      }
      .scroll-action-right-out {
        transform: translate(300px, 0);
      }
    }

    .area-arrow {
      padding: 5px;
      padding-left: 0;
      width: 50px;
      height: 41px;
      position: relative;
      cursor: pointer;

      .arrow {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: radial-gradient(#ff77ab 0%, #ff77ab 40%, #ffa0d0 70%);

        $arrow: (
          '0' : 'left',
          '1' : 'right',
        );

        @each $index, $value in $arrow {
          &.arrow-#{$value} {
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 40%;
              transform: translate(-50%, -50%);
              width: 20px;
              height: 20px;
              background-size: 50%;
            }
          }
        }
      }
    }
  }

  .paging-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    .number-btn {
      width: 33px;
      height: 33px;
      margin: 5px;
      border: 1px solid #d2d2d2;
      border-radius: 20px;
      box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
      background-image: linear-gradient(#fdfefe, #dddede);
      position: relative;
      cursor: pointer;

      @for $i from 1 through 10 {
        &.btn-section-#{$i} {
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background-size: 50%;
          }
        }
      }

      &:hover, &.selected {
        border: 1px solid #fc72a7;
        background-image: linear-gradient(#ff77ab, #ff9ccc);
      }
    }
  }
}
